<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page page--<%= controller_name %>_<%= action_name %>">

<div class="page__header">
  My website
</div>

<%= yield %>

<div class="page__footer">
  Georgia Morton since 1992
</div>
</body>
</html>
